<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button tab="profile" href="/tabs/profile">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">services</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #00377B; font-weight: bold;">Mi plan</ion-card-title>
      <ion-card-subtitle>Siempre Conectados</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div style="display: flex;">
        <div style="color:#00377B;">
          <p>Minutos:</p>
          <p>Minutos a otras operadoras:</p>
          <p>Mensajes:</p>
          <p>Internet:</p>
          <p>Fecha de acreditación de beneficios:</p>
          <p>Fecha de terminación de contrato:</p>
        </div>
        <div style="margin-left: 40px;">
          <p>Ilimitado</p>
          <p>Ilimitado</p>
          <p>Ilimitado</p>
          <p>40 GB</p>
          <p>03/Nov/2023</p>
          <p>03/May/2024</p>
        </div>
      </div>
      <hr class="linea-horizontal">
        <h2 style="color: #00377B;">Cargo Básico</h2>
        <p style="font-size: 40px; color: #00377B;">Q314.99</p>
        <p>No incluye cargos por servicios adicionales que adquieras</p>

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #00377B; font-weight: bold;">Servicios Premium</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://micuenta2-tigo-com-gt-prod.tigocloud.net/sites/default/files/premium/VixPremium%20-%20490x165_0.jpg" />
    </ion-card-content>

    <div style="text-align: end; margin: 0px 15px 13px 13px;">
      <ion-button shape="round" style="font-size: 10px; --background: #7C5AF1; font-weight: bold;">VER MÁS</ion-button>
    </div>
    <hr>
  </ion-card>
</ion-content>

