<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
      <ion-button tab="profile" href="/tabs/profile">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title style="color: #00377B; font-weight: bold;">Servicios Premium</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img alt="Silhouette of mountains" src="https://micuenta2-tigo-com-gt-prod.tigocloud.net/sites/default/files/premium/VixPremium%20-%20490x165_0.jpg" />
    </ion-card-content>

    <div style="text-align: end; margin: 0px 15px 13px 13px;">
      <ion-button shape="round" style="font-size: 10px; --background: #7C5AF1; font-weight: bold;">VER MÁS</ion-button>
    </div>
    <hr>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://micuenta2-tigo-com-gt-prod.tigocloud.net/sites/default/files/mobile_upgrade/tiny-mejora-A_0.jpg" />
    <div style="text-align: end; margin: 0px 15px 13px 13px;">
      <ion-button shape="round" style="font-size: 10px; --background: #7C5AF1; font-weight: bold;">VER PLANES</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2 style="color: #00377B; font-weight: bold;">Fecha Terminación de Contrato:</h2>
      <p>04/05/2024</p>
      <hr class="linea-horizontal">
      <h2 style="color: #00377B; font-weight: bold;">Meses Exonerados:</h2>
      <p>0 Mes</p>
      <hr class="linea-horizontal">
      <h2 style="color: #00377B; font-weight: bold;">Comodato: Costo por renovación anticipada</h2>
      <p>Q2998.50</p>
      <hr class="linea-horizontal">
      <div style="text-align: center; margin: 0px 15px 13px 13px;">
        <ion-button shape="round" style="font-size: 10px; --background: #7C5AF1; font-weight: bold;">CONTINUAR</ion-button>
      </div>
    </ion-card-content>
  </ion-card>


</ion-content>

